<div class="ts-row ts-form-row">
	<div class="ts-col-span3 ts-screensm-col-span6 ts-screenxs-col-span12">
		<input type="checkbox" id="skipBackupContentDir" name="skipBackupContentDir"/>
		<label class="ts-label" for="skipBackupContentDir">Exclude Content &amp; Config Settings</label>
	</div>
	<div class="ts-col-span3 ts-screensm-col-span6 ts-screenxs-col-span12">
		<input type="checkbox" id="skipBackupPublicDir" name="skipBackupPublicDir"/>
		<label class="ts-label" for="skipBackupPublicDir">Exclude Public Directory</label>
	</div>
	<div class="ts-col-span3 ts-screensm-col-span6 ts-screenxs-col-span12">
		<input type="checkbox" id="skipDatabaseBackup" name="skipDatabaseBackup"/>
		<label class="ts-label" for="skipDatabaseBackup">Exclude Database Backup</label>
	</div>
	<div class="ts-col-span3 ts-screensm-col-span6 ts-screenxs-col-span12">
		<input type="checkbox" id="skipPackageJson" name="skipPackageJson"/>
		<label class="ts-label" for="skipPackageJson">Exclude Periodic package.json</label>
	</div>
</div>