<div class="ts-row ts-form-row">
	<div class="ts-col-span4">
		<input type="checkbox" id="skipBackupContentDir" name="skipBackupContentDir"/>
		<label class="ts-label" for="skipBackupContentDir">Exclude Content &amp; Config Settings</label>
	</div>
	<div class="ts-col-span4">
		<input type="checkbox" id="skipBackupPublicDir" name="skipBackupPublicDir"/>
		<label class="ts-label" for="skipBackupPublicDir">Exclude Public Directory</label>
	</div>
</div>