<div class="ts-document">
	<div class="ts-row">
	<h3>Automated Cloud Backups</h3>
		<p>Backing up saves your content directory, public directory, full database seed export into a zip archieve.</p>
		<p>If you have the clouduploads extension installed, you can configure the cron settings to upload backups of your application.</p>
		<ul>
			<li><strong>Cloud Upload Support:</strong> <%- installedCloudUploads %></li>
			<li><strong>Cron Interval:</strong> <%- cloudbackupcron_prettycron %></li>
			<li><strong>Next Backup Task:</strong> <%- cloudbackupcron_next %></li>
		</ul>
	</div>
</div>	