<div class="_pea-document">
	<div class="_pea-row">
	<h3>About DB Seeds & Migrations</h3>
		<p>Database seeds are an efficient way of populating your database using periodic's database models.</p>
		<p>The seed format is a JSON document, that is inserted into the database and will automatically connect references to other content documents, tag, and taxonimies if they're referenced by name.</p>
	</div>
	<div class="_pea-row">
		<h3>Example <select id="example-seed-select">
			<option value="item">item</option>
			<option value="collection">collection</option>
			<option value="library">library</option>
			<option value="tag">tag</option>
			<option value="category">category</option>
			<option value="contenttype">contenttype</option>
			<option value="userprivilve">category</option>
			<option value="userrole">userrole</option>
			<option value="setting" selected="selected">dbsetting</option>
			<option value="user">user</option>
		</select> seed</h3>
		<textarea id="example-seed-ta" class="_pea-col-span12 codemirroreditor jsonEditor">blah</textarea>
	</div>
</div>	