<div class="ts-document">
	<div class="ts-row">
	<h3>Regular Cloud Backups</h3>
		<p>Backing up saves your content directory, public directory, full database seed export into a zip archieve.</p>
		<p>If you have the clouduploads extension installed, you can configure the cron settings to upload backups of your application.</p>
	</div>
</div>	