<% include ../../../../periodicjs.ext.asyncadmin/views/shared/header %>
	<style>
	.CodeMirror{
		height:auto;
	}
	</style>
	<input type="hidden" name="_csrf" value=<%= locals.token %> >
	<div class="ts-container">
		<div class="ts-row">
			<div class="ts-col-span12">
				<div id="backups-tabs" class="ts-tabs">
					<nav>
						<ul class="ts-col-span12 ts-text-center">
							<li class="ts-col-span4 ts-no-margin">Backup Periodic</li>
							<li class="ts-col-span4 ts-no-margin">Restore Periodic</li>
							<li class="ts-col-span4 ts-no-margin">More Info</li>
						</ul>
					</nav>
					<div class="ts-tabs-content">
						<section class="ts-no-padding">
							<% include _backup_tab %>
						</section>
						<section class="ts-no-padding">
							<% include _restore_tab %>
						</section>
						<section class="ts-no-padding">
							<% include _more_info_pane %>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
<% include  ../../../../periodicjs.ext.asyncadmin/views/shared/footer %>
